.container {
	width : calc(100% - 200px);
	border : 2px #008cba solid;
	margin : 0 auto;
}

table.dataTable {
	table-layout: fixed;
	margin : 0;
	width: auto;
}

div.table-container {
	border : 1px solid #2b2b2b;
}

table.dataTable thead th {
	overflow      : hidden;
	text-overflow : ellipsis;
	white-space   : nowrap;

	padding : 5px 8px;
	min-width : 30px;
}

table.dataTable tbody th,
table.dataTable tbody td {
	white-space: nowrap;
	overflow : hidden;
	text-overflow: ellipsis;
}